[Unit]
Description=Lyon Transit Frontend Static Server
After=network-online.target
Wants=network-online.target

[Service]
User={{USER}}
WorkingDirectory={{PROJECT_DIR}}
ExecStart=/usr/bin/python3 -m http.server {{FRONT_PORT}} --bind 127.0.0.1 -d {{PROJECT_DIR}}/frontend/build
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

